.btn {
    text-align: center;
    height: 50px;
    width: 160px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(130, 200, 255);
    color: white;
    font-size: 15px;
    z-index: 1;
}
.btn:hover {
    background-color: rgb(100, 180, 255);
}


.btndiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SignSlide {
    padding: 10px;

}