
.btn{
    text-align: center;
    height: 50px;
    width: 160px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(130, 200, 255);
    color: white;
    font-size: 15px;
    position: relative;
    top: 30px;
    z-index: 1;
}

.writeBtn{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: rgb(130, 200, 255);
    color: white;
    font-size: 20px;
    margin-top: 30px;
    z-index: 1;
    margin-bottom: 20px;
}
.writeBtn:hover {
    background-color: rgb(100, 180, 255);
}

.btndiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
