.container {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    border: 1px solid azure;
}

.title {
    width: 100%;
    height: 10%;
    font-size: 30px;
    font-weight: bold;
}

.body {
    width: 100%;
    height: 50%;
}

.imageDiv {
    width: 100%;
    height: 50%;
}

.nameText {
    width: 100%;
    height: 10%;
    font-size: 30px;
    font-weight: bold;
}

.email {
    font-size: 20px;
    width: 100%;
    height: 10%;
}

.alarmsDiv {
    width: 100%;
    height: 30%;
}

.alarms {
    width: 90%;
    height: 100%;
    font-weight: bold;
}

.alarmsText {
    width: 80%;
    float: left;
}

.iconDiv {
    width: 10%;
    height: 100%;
}

.footer {
    width: 100%;
    height: 40%;
}

.itemdiv {
    width: 100%;
    height: 40%;
}

.btndiv {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.endTitle {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.endimage {
    width: 240px;
    height: 160px;
}

.endTitle>img {
    width: 80%;
    height: 100%;
}

.title,
.nameText,
.email,
.alarmsDiv,
.alarms {
    display: flex;
    justify-content: center;
    align-items: center;
}

.biggerIcon {
    text-align: center;
    font-size: 30px;
}
.footerbtn{
    float: left;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}