.container {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    border: 1px solid azure;
}

.title {
    width: 100%;
    height: 10%;
}

.body {
    width: 100%;
    height: 50%;
}

.imageDiv {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: start;

}

.nameText {
    width: 100%;
    height: 10%;
    font-size: 30px;
    font-weight: bold;
}

.email {
    font-size: 20px;
    width: 100%;
    height: 10%;
}
.alarmsDiv{width: 100%;height: 20%;}
.alarms{
    width: 80%;
    height: 100%;
    border: 2px solid rgb(0, 7, 7);
    background-color: rgb(199, 220, 233);
    border-radius: 20px;
    color: black;
    font-weight: bold;
}
.iconDiv{
    width: 10%;
    height: 100%;
}
.footer{
    width: 100%;
    height: 40%;
}

.footer ul {
    list-style: none; /* 기본 목록 스타일 제거 */
    padding: 20px; /* 기본 패딩 제거 */
  }
  
  .footer li {
    margin-right: 0; /* 마지막 항목의 오른쪽 간격 제거 */
    font-size: 30px;
    width: 40%;
  }

  .footer li:hover{
    cursor: pointer;
  }

  .endTitle{
    width: 100%;;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.title,
.nameText,
.email,.alarmsDiv,.alarms{
    display: flex;
    justify-content: center;
    align-items: center;
}