.container{
    height: 60px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.300);
    position: relative;
}
.logo{
    float: left;
    
}
.logo:hover{
    cursor: pointer;
}
.name{
    font-size: 15px;
    position: absolute;
    top: 20px;
    right: 110px;
}
