.container{
    width: 100%;
    height: 100%;
}
.index{
    width: 25%;
    height: 100%;
    float: left;
    border-left: 1px solid ghostwhite;
}

.contents{
    width: 75%;
    height: 100%;
    float: left;
}