.tdlMain {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    border-bottom: 1px solid #e9ecef;
    display: flex;
}

.tdlMaintitle {
    font-size: 25px;
    font-weight: 700;
    margin-left: 20px;
}

.tdlMaintitle span {
    font-size: 23px;
}

.muat {
    font-size: 12px !important;
    color: #8f8f8f;
    display: block;
    ;
}

.tdlBoards {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 20px;
}

.tdlBoardsTitle {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 50px;
}

.tdlul {
    width: 100%;
    list-style: none;
    padding: 0px;
    margin-bottom: 10px;
}

.tdlli {
    @media screen and (max-width: 768px) {
        width: 100%;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 33%;
    }

    @media screen and (min-width: 1024px) {
        width: 25%;
    }

    margin-bottom: 20px;
    padding-right: 20px;
    float: left;
}

.tdlInsert {
    height: 100px;
    background-color: whitesmoke;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tdlInsert:hover {
    cursor: pointer;
    background-color: #e9ecef;
}

.tdlDBInsert {
    height: 100px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(0, 128, 255);
}

.tdltitle {
    color: white;
    font-size: 15px;
    font-weight: 700;
    position: relative;
    top: 5px;
    left: 5px;
}

.starimg {
    position: absolute;
    top: 0px;
    right: -50px;
    transition: right 0.3s ease-in-out;
}

.tdlDBInsert:hover .starimg {
    right: 5px;
}

.starActive {
    top: 0px;
    right: 5px;
}

.starimg:active {
    transform: scale(0.8);
}

.ratingLabel {
    cursor: pointer;
}

.ratingStarStroke {
    stroke: Gold;
}

.ratingStarFilled {
    fill: Gold;
}

.ratingStarNotFilled {
    fill: transparent;
}