.tdlboard {
    width: 100%;
    height: 100%;
}

.tdlboardheader {
    width: 100%;
    height: 55px;
    border-bottom: 1px solid rgba(200, 200, 200);
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 15px;
    overflow: auto;
}

.editborder {
    min-width: 300px;
    max-width: 50%;
    width: auto;
    border: 2px solid rgb(0, 100, 255);
    box-shadow: 0 0 3px 0 rgb(0, 100, 255);
    padding: 2px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
}

.editborder2 {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    border: 2px solid rgb(0, 100, 255);
    box-shadow: 0 0 3px 0 rgb(0, 100, 255);
    border-radius: 10px;
    background-color: white;
    padding-left: 5px;
}

.editborder3 {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
}

.tdlboardtitle {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.titleedit {
    width: 90%;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

.titleedit2 {
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    padding: 0px;
}

.contentsedit {
    width: 90%;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 5px;
    font-weight: 700;
}

.titleeditbtn {
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 0px;
    right: 2px;
}

.contentseditbtn {
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: -6px;
    right: 4px;

}

.tdlstarimg {
    width: 20px;
    margin-left: 15px;
}

.tdlprofile {
    position: absolute;
    right: 80px;
}

.tdlsubmit {
    position: absolute;
    right: 10px;
    width: 60px;
    height: 35px;
}

.tdlsubmitbutton {
    width: 100%;
    height: 100%;
    border: none;
    background-color: coral;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.tdlsubmitbutton:hover {
    background-color: rgb(255, 100, 100);
}

.tdlcontents {
    position: relative;
    width: 100%;
    height: calc(100% - 55px);
    padding: 15px;
    overflow: auto;
}

.tdlol {
    width: 100%;
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: nowrap;
}

.tdlinput {
    width: 275px;
    height: 100%;
    border-radius: 15px;
    background-color: rgb(248, 248, 248);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    padding: 10px;
    flex: 0 0 auto;
    cursor: pointer;
}

.tdllisttitle {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
}

.tdllisttitle button {
    position: absolute;
    top: 2px !important;
    right: 2px !important;
    background: transparent;
    outline: none;
    border: none;
    font-size: 18px;

}

.tdllisttitle button {
    position: absolute;
    top: -3px;
    right: 5px;
    background: transparent;
    outline: none;
    border: none;
    font-size: 18px;
}

.tdllistinput {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    background-color: rgb(0, 0, 0, 0);
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tdllistinput:hover {
    background-color: rgb(255, 255, 255, 1);
    border: 3px solid rgb(200, 200, 200);
}

.tdllistinput:focus {
    outline: none;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 100, 250);
}

.tdllistaddedbtn {
    width: 40%;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 100, 250);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.tdllistaddedbtn:hover {
    background-color: rgb(0, 100, 200);
}

.tdlul {
    width: 100%;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.tdlli {
    width: 100%;
    min-height: 35px;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    font-size: 14px;
    position: relative;
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.tdlli:hover {
    border: 2px solid rgba(0, 0, 0);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);

}

.tdlliedit {
    border: 2px solid rgb(0, 100, 255) !important;
    box-shadow: 0 0 3px 0 rgb(0, 100, 255) !important;
}

.liupbtn {
    width: 10px;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 25px;
    background: transparent;
    border: none;
    outline: none;
    display: none;
    cursor: pointer;
}

.libtn {
    position: absolute;
    top: 4px;
    right: 5px;
    background: transparent;
    border: none;
    outline: none;
    display: none;
}

.tdlli:hover .liupbtn {
    display: block;
}

.tdlli:hover .libtn {
    display: block;
}




.newcard {
    width: 270px;
    height: 100px;
    border-radius: 5px;
    border-radius: 5px;
    margin-right: 10px;
    flex: 0 0 auto;
}

.newlistaddbtn {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 20px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.newlistadd {
    width: 270px;
    min-height: 40px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.03);
    cursor: pointer;
}

.newlistadd2 {
    width: 270px;
    min-height: 40px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.03);
    cursor: pointer;
    padding: 10px;
}

.newlistaddbtn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


.newlistaddbtn strong {
    margin-right: 10px;
    font-size: 20px;
}

.loadcontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    border: 6px solid #cccccc75;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-top-color: skyblue;
    border-left-color: skyblue;
    animation: spin 1.2s infinite ease-in-out;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
}