*{
    box-sizing: border-box;
}

div{
    border: 0px solid black;
}

.body{
    background-color: indigo;
}

.backDiv{
    width: 100%;
    height: 100%;
    background-color: #e3f2fd30;
}

.guideDiv{
    width: 1250px;
    height: 820px;
    margin-left: 100px;
}

.left{
    float: left;
    width: 28%;
    height: 100%;
    padding: 10px;
}

.right{
    float: left;
    width: 68%;
    height: 100%;
    padding: 10px;
}

.worksection{
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
    height: 300px;
    padding: 15px;
    padding-top: 0px;
    background-color: white;
}

.signsection{
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 30px;
    width: 100%;
    height: 160px;
    background-color: white;
}

.calandarsection{
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 30px;
    width: 100%;
    height: 310px;
    background-color: white;
}

.projectsection{
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 15px;
    width: 100%;
    height: 49%;
    background-color: white;
}

.CalendarMain{
    width: 100% !important;
}

.weekContainer{
    height: 20%!important;
}

.CalendarMain>div>div>div>div>div>div>div>button {
    height: 36px!important;
}

.CalendarMain>div>div>div>div>div>div{
    height: 220px!important;
}

.CalendarMain>div>div>div>div>div>div>div[role="row"]{
    height: 38px!important;
    max-height: 38px!important;
}


.bgwhite{
    background-color: white;
}

.noticesection{
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 15px;
    width: 100%;
    height: 49%;
    background-color: white;
}

.workContents{
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 80%;
    margin: auto;
}

.signContents{
    
    width: 90%;
    height: 60%;
    margin: auto;
}

.signBtns>button{
    width: 120px;
}

.contentsDiv{
    border-left: 1px solid black;
    width: 90%;
    height: 80%;
    margin: auto;
}

.border{
    border: 1px solid black;
}

.borderbtm{
    border-bottom: 1px solid grey;
}

.padding15{
    position: relative;
    padding: 15px;
}
.padding10{
    padding: 10px;
}

.today_date{
    font-size: 14px;
}
.clock{
    font-size: 22px;
}

.float{
    float: left;
}

.dateDiv{
    width: 100%;
    height: 30px;
}

.left50{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right50{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.height20{
    height: 20%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.vcenter{
    display: flex;
    align-items: center;
}

.width100{
    width: 100%;
}

.paddingtop15{
    padding-top: 15px;
}

.paddingTB10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.posRight15{
    left: 15px;
}

.marginT10{
    margin-top: 10px;
}
.marginT20{
    margin-top: 20px;
}
.marginT30{
    margin-top: 30px;
}

.marginR15{
    margin-right: 15px;
}

.titleText{
    font-weight: bold;
    font-size: 20px;
}

.bordertopRad{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.bgblue{
    background-color: #90caf9;
}