*{
    box-sizing: border-box;
}

div{
    border: 0px solid black;
}

.guideDiv{
    border: 1px solid black;
    width: 1200px;
    height: 100%;
    margin-left: 100px;
}

.left{
    float: left;
    width: 30%;
    height: 100%;
    padding: 10px;
}

.right{
    float: left;
    width: 70%;
    height: 100%;
    padding: 10px;
}

.worksection{
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 40%;
}

.signsection{
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 25%;
}

.calandarsection{
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 35%;
}

.projectsection{
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 50%;
}

.contentsDiv{
    border-left: 1px solid black;
    width: 90%;
    height: 80%;
    margin: auto;
}