
.container {
    margin: 0px;
    height: 100%;
    min-width: 724px;
    overflow-x: auto;
}

.row_container {
    height: 100%;
    width: 100%;
}

.chat_room_list_container {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    padding: 0px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.chat_room_object {
    position: relative;
    min-height: 100px;
    max-height: 150px;
    padding-right: 0px;
    padding-left: 25px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.chat_room_object:hover {
    background-color: rgb(247, 247, 247);
    cursor: pointer;
}

.chat_room_object div {
    box-sizing: border-box;
    /* border: 1px solid rgb(240, 240, 240); */
}

.selectedRoom {
    background-color: rgb(240, 240, 240);
}

.room_profile_container, .room_profile {
    position: relative;
    height: 100%;
}
.profile_box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_image {
    width: 60%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: relative;
}

.profile_multibox {
    position: relative;
}

.profile_image1 {
    width: 45%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    top : 15%;
    left : 15%;
    z-index: 1;
}

.profile_image2 {
    width: 45%;
    max-width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    top : 35%;
    left : 35%;
    z-index: 2;
    border: 1px solid white;
}

.room_info_container {
    height: 100%;
    padding: 0px;
}

.room_name_container ,.recent_message_container{
    height: 50%;
    display: flex;
    justify-content: start;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
}

.room_name_container {
    width: 100%;
    margin-right: 0px;
    font-weight: bolder;
    align-items: end;
}

.room_name_object {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0px;
}

.recent_message_container {
    width: 100%;
    margin-right: 0px;
    align-items: start;
    color: rgb(120, 120, 120);
    font-size: small;
}

.recent_message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0px;
}

.is_read {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: rgb(230, 20, 20);
    padding: 0%;
    border-radius: 50%;
    top: 10%;
    left: 10%;
}

.closeIcon {
    position: absolute;
    top : 10%;
    left : 90%;
    padding: 0%;
    transition: opacity 0.3s cubic-bezier(.25,.8,.25,1);
    opacity: 0;
}

.chat_room_object:hover .closeIcon {
    opacity: 1;
  }

.chat_room_container {
    padding: 0px;
    min-width: 400px;
    height: 100%;
}

path {
    pointer-events: none;
}