.system_msg_container {
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-top: 5px;
    margin-bottom: 3px;
}

.system_msg {
    width: 80%;
    text-align: center;
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bolder;
}

.msg_left_container {
    width: 100%;
    display: flex;
    justify-content: start;
    height: fit-content;
}

.msg_left {
    width: 100%;
    min-height: 60px;
}

.msg_left_img_container {
    width: 50px;
    padding-right: 0px;
    
}

.profile_box {
    width: 100%;
}

.profile_box>img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.msg_left_info_container {
    width: fit-content;
    max-width: 60%;
}

.msg_left_name {
    font-size: small;
    color: rgb(110, 110, 110);
}

.msg_left_contents {
    width: fit-content;
    word-break: break-all;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(239,239,239);
    border-radius: 15px;
}

.msg_left_time_container {
    width: fit-content;
    padding-left: 3px;
    font-size: xx-small;
    display: flex;
    align-items: end;
    padding-bottom: 7px;
}

.msg_right_container {
    display: flex;
    justify-content: end;
    height: fit-content;
    padding-top: 10px;
    padding-right: 10px;
}

.msg_right {
    justify-content: end;
    width: 100%;
    margin-right: 0px;
}

.msg_right_time_container {
    width: fit-content;
    padding-right: 3px;
    font-size: xx-small;
    display: flex;
    align-items: end;
    padding-bottom: 0px;
}

.msg_right_contents {
    word-break: break-all;
    width: fit-content;
    max-width: 50%;
    height: fit-content;
    width: fit-content;
    /* border: 1px solid rgb(140, 140, 140); */
    background-color: rgb(55,151,240);
    color: white;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}