.list{
    width: 1000px;
    margin: auto;
}

.contentDiv{
    width: 1100px;
    height: 790px;
}

.padding10{
    padding: 10px;
}

.padding20{
    padding: 20px;
}

.padding40{
    padding: 40px;
}

.borderbtm{
    border-bottom: 1px solid black;
}


/* ProjectList */


/* ProjectList */


/* ProjectContent */
.progsection{
    border: 1px solid black;
    border-radius: 5px;
}

.todosection{
    border: 1px solid black;
    border-radius: 5px;
}

.membersection{
    border: 1px solid black;
    border-radius: 5px;
}

/* ProjectContent */



/* ProjectCreate */

/* ProjectCreate */








.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.vcenter{
    display: flex;
    align-items: center;
}

.hcenter{
    display: flex;
    justify-content: center;
}