.noticeContents{
    width: 1100px;
    height: 760px;
    border: 1px solid black;
}

.contentDiv{
    width: 1200px;
    height: 790px;
    margin: auto;
}

.vcenter{
    display: flex;
    align-items: center;
}

.hcenter{
    display: flex;
    justify-content: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnEven{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.borderbtm{
    border-bottom: 1px solid black;
}

.padding10{
    padding: 10px;
}
.padding15{
    padding: 15px;
}
.padding40{
    padding: 40px;
}

.marginT20{
    margin-top: 20px;
}
.marginT50{
    margin-top: 50px;
}

.marginB50{
    margin-bottom: 50px;
}

.marginTB50{
    margin-top: 50px;
    margin-bottom: 50px;
}
.w100{
    width: 100%;
}
.fs18{
    font-size: 18px;
}

.bold{
    font-weight: bold;
}
.border{
    border: 1px solid black;
}
/* Write Content */

.writeSection{
    border: 1px solid black;
    border-radius: 5px;
}
