.main{
    width: 100%;
    height: 100%;
}
.button_div{
    width: 100%;
    height: 10%;
}

.button{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    background-color: rgb(130, 200, 255);
    color: white;
    font-size: 20px;
}
.button:hover {
    background-color: rgb(100, 180, 255);
}
.contents_div{
    width: 100%;
    height: 90%;
    overflow-y: auto;
}

.contents_div li:hover {
    background-color: #f0f0f0;
}
