.view_div {
  float: left;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.view {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
}

.imageDiv {
  width: 100%;
  height: 50%;
}

.footer {
  width: 100%;
  height: 30%;
}

.email {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.idname {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 20px;
}

.null {
  height: 100%;
  width: 100%;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}