
.btn{
    text-align: center;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    width: 100%;
    border: none;
    background-color: rgb(130, 200, 255);
    color: white;
    font-size: 15px;
    position: relative;
    top: 30px;
    z-index: 1;
}

.writeBtn{
    text-align: center;
    font-size: 15px;
    height: 60px;
    margin: 10px;
    border-radius: 10px;
    width: 100%;
    border: none;
    background-color: rgb(130, 200, 255);
    color: white;
    font-size: 20px;
    position: relative;
    top: 30px;
    z-index: 1;
}

.btndiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.SignSlide{
    padding: 10px;
   
}