.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    width: 1300px;
    height: 600px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
  }
  .modal_head{height: 10%;}
 
  .modal_body{
    height: 70%;
  }

  .search_div{
    float: left;
    width: 50%;
  }

  .select_div{
    float: left;
    width: 25%;
  }
  .view_div{
    float: left;
    width: 25%;
  }

  .modal_footer{
    height: 20%;
    display: flex;
    justify-content: end;
    align-items:center
  }

  .modal_close_button {
    width: 120px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: rgb(130, 200, 255);
    color: white;
    font-size: 20px;
    position: relative;
    top: 30px;
    z-index: 1;
    margin: 10px;
  }
  
  /* 나머지 스타일 */