
  .modal {
    width: 1300px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
    padding: 16px;
    z-index: 100;
  }
  .modal_head{height: 10%;}
 
  .modal_body{
    height: 70%;
  }

  .search_div{
    float: left;
    width: 50%;
    height: 100%;
  }

  .dropbox{
    float: left;
    height: 100%;
    width: 30%;
  }
  .tablebox{
    float: left;
    height: 100%;
    width: 70%;
  }

  .select_div{
    float: left;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .select_btndiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .view_div{
    float: left;
    width: 30%;
    height: 100%;
  }

  .modal_footer{
    height: 20%;
    display: flex;
    justify-content: end;
    align-items:center
  }

  .modal_close_button {
    width: 120px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: rgb(130, 200, 255);
    color: white;
    font-size: 20px;
    position: relative;
    top: 30px;
    z-index: 1;
    margin: 10px;
  }
  .modal_close_button:hover{
    background-color: rgb(100, 180, 255);
  }
  .image{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image>img{
    width: 50%;
    height: 25%;
  }