.workspace {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

.workspacetitle {
    margin-left: 10px;
}

.workspace div span {
    font-size: 15px;
}

.selectTitle {
    width: 100%;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

.select {
    width: 100%;
    font-size: 15px;
    text-decoration: none;
    padding: 3px;
}

a {
    color: black;
    text-decoration: none;
}

.selectMenu {
    margin-left: 10px;
}

.select:hover {
    background-color: rgb(255, 255, 255);
}

.selectDown {
    width: 100%;
    font-size: 20px;

}

.btn {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    float: right;
    font-weight: bold;
}

.tdlul {
    width: 100%;
    list-style: none;
    padding: 0px;
    padding-bottom: 60px;
}

.tdlli {
    margin-bottom: 5px;
}

.tdlDBInsert {
    height: 40px;
    position: relative;
    cursor: pointer;
}

.tdltitle {
    width: 90%;
    height: 18px;
    color: white;
    font-size: 13px;
    font-weight: 700;
    position: relative;
    top: 2px;
    left: 2px;
    overflow: hidden;
}

.starimg {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: -20px;
}

.tdlDBInsert:hover .starimg {
    right: -2px;
}

.starimg:active {
    transform: scale(0.8);
}

.starActive {
    top: 5px;
    right: -2px;
}