.header {
    font-size: 30px;
    margin: 15px;
}

.documents1 {
    margin-bottom: 50px;
    margin-left: 100px;
}

.titleText {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
}

select {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: 0;
    padding: 4px;
    border: none;
}

.setting {
    margin-bottom: 50px;
}

.label {
    width: 200px;
    height: 50px;
    background-color: whitesmoke;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.dropbox {
    width: 200px;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;

}

.rightContainer {
    display: flex;
    padding-left: 500px;
}

.writer {
    width: 200px;
    height: 50px;
    background-color: whitesmoke;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.name {
    width: 200px;
    height: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signline {
    margin-left: 100px;
}

.tableHead {
    background-color: whitesmoke;
}

.tableRow {
    clear: both;
    /* 이전 요소들과의 float 해제 */
    width: 900px;
    /* 테이블 행을 100% 너비로 설정 */
    overflow: hidden;
    /* 플로팅된 요소들을 감춤 */
}

.tableRow>div {
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 20px;
    width: 300px;
    height: 50px;
}


.tableRow>div:nth-child(1) {
    width: 300px;
    height: 50px;
}

.tableRow>div:nth-child(2) {
    width: 300px;
    height: 50px;
}

.tableRow>div:nth-child(3) {
    width: 300px;
    height: 50px;
}

.signwrite {
    margin-left: 100px;
    margin-bottom: 50px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    margin-left: 450px;
    margin-top: 50px;
}

.writeHead div {
    float: left;
}

.writeHead {
    background-color: whitesmoke;
}

.writeRow {
    clear: both;
    /* 이전 요소들과의 float 해제 */
    width: 1000px;
    overflow: hidden;
    /* 플로팅된 요소들을 감춤 */
}

.writeRow>div {
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 20px;
}

.writeRow>div:nth-child(1) {
    width: 15%;
    height: 40px;
}

.writeRow>div:nth-child(2) {
    width: 10%;
    height: 40px;
}

.writeRow>div:nth-child(3) {
    width: 10%;
    height: 40px;
}

.writeRow>div:nth-child(4) {
    width: 25%;
    height: 40px;
}

.writeRow>div:nth-child(5) {
    width: 15%;
    height: 40px;
}

.writeRow>div:nth-child(6) {
    width: 25%;
    height: 40px;
}

.titleRow {
    clear: both;
    width: 1000px;
    overflow: hidden;
}

.titleRow>div {
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 20px;
}

.titleRow>div:nth-child(1) {
    width: 15%;
    height: 40px;
}

.titleRow>div:nth-child(2) {
    width: 85%;
    height: 40px;
}

.fileRow {
    clear: both;
    /* 이전 요소들과의 float 해제 */
    width: 1000px;
    overflow: hidden;
    margin-left: 100px;
    margin-bottom: 50px;
}

.fileRow>div {
    float: left;
    border: 1px solid black;
    font-size: 20px;
}

.fileRow>div:nth-child(1) {
    width: 15%;
    height: 40px;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 20px;
}

.fileRow>div:nth-child(2) {
    width: 85%;
    height: 40px;
    display: flex;
    align-items: center;
}

.buttons {
    margin-left: 100px;
}

.buttons button {
    width: 80px;
    height: 40px;
}

.apply {
    margin-left: 420px;
    margin-right: 10px;
}