.header {
    font-size: 30px;
    margin: 15px;
}

.documents1 {
    margin-bottom: 50px;
    margin-left: 100px;
}

.titleText {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
}