.container{
    width: 100%;
    height: 100%;
}

.memberInfo{
    width: 750px;
    height: 400px;
    border-radius: 5px;
    margin: auto;
    margin-top: 100px;
}

.infoHeader{
    width: 100%;
    height: 30%;
    margin: 5px;
}

.imagebox{
    float: left;
    width: 17.2%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    
}

.contentsbox{
    float: left;
    width: 80%;
    height: 100%;
}
.contentsDivs{
    width: 100%;
    height: 70%;
    border-top: 2px solid black;
}
.contentsdiv{
    height: 19%;
}
.name{font-size: 40px; font-weight: bold; width: 100%; height: 50%;}
.email{width: 100%; height: 50%;font-size: 30px; }
.emailTextdiv{
    float: left;
    width: 80%;  
    height: 100%;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    overflow: auto;
}
.emailbtndiv{
    float: left;
    height: 100%;
    width: 20%; 
    
}
.emailbtn{
    text-align: center;
    height: 47px;
    width: 117px;
    border-radius: 10px;
    border: none;
    background-color: rgb(130, 200, 255);
    color: white;
    font-size: 20px !important;
   
}
.textdiv{
    float: left;
    width: 15%;  
    height: 100%;
    font-size: 23px;
    font-weight: bold;
    padding: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.contentText{
    float: left;
    width: 65%;  
    height: 100%;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.content{
    float: left;
    width: 85%;  
    height: 100%;
    font-size: 23px;
    font-weight: bold;
    padding: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.btndiv{
    float: left;
    height: 100%;
    width: 20%; 
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 3px;
}
.btn{
    text-align: center;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    border: none;
    background-color: rgb(130, 200, 255);
    color: white;
    font-size: 20px !important;
   
}
.alterdiv{
    float: left;
    height: 100%;
    width: 85%;
}
.btn:hover,
.emailbtn:hover {
    background-color: rgb(100, 180, 255);
}

